.rectangle{
    height: 250px;
    width: 100px;
    background-color: black;
    border: 2px solid ;
}
.circle1{
    height:70px;
    width:70px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    left: 10px;
}
.circle2{
    height:70px;
    width:70px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    left: 10px;
}
.circle3{
    height:70px;
    width:70px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
    left: 10px;
}
